

// default
$text-color-default:#000;
$highlight-taia-color:#03f1cc;

// project1 (marido pão duro)
$highlight-project1:#f4da4c;
$title-color-project1:#0d8ab9;
$bg-project1:mpd-hover-bg;
$subtitle-color-project1:$text-color-default;
$description-color-project1:$text-color-default; 
$content-capa1:content-capa1; // selectors

// project2 (facetouch)
$highlight-project2:#dfdfdf;
$title-color-project2:#03a3dd;
$bg-project2:facetouch-hover-bg;
$subtitle-color-project2:$text-color-default;
$description-color-project2:$text-color-default; 
$content-capa2:content-capa2; // selectors

// project3 (lula)
$highlight-project3:#d71313;
$title-color-project3:#fff;
$bg-project3:lula-hover-bg;
$subtitle-color-project3:#fff;
$description-color-project3:#fff; 
$content-capa3:content-capa3; // selectors

// project4 (mpi)
$highlight-project4:#ff7800;
$title-color-project4:#fff;
$bg-project4:mpi-hover-bg;
$subtitle-color-project4:$text-color-default;
$description-color-project4:$text-color-default; 
$content-capa4:content-capa4; // selectors


// project5 (metro)
$highlight-project5:#0d8ab9;
$title-color-project5:#fff;
$bg-project5:metro-hover-bg;
$subtitle-color-project5:#fff;
$description-color-project5:#fff; 
$content-capa5:content-capa5; // selectors


